@media screen and (max-width: 416px) {
    h1{
        font-size: 30px !important;
    }
    p{
        font-size: 16px !important;
    }
}
@media screen and (max-width: 368px) {
    h1{
        font-size: 25px !important;
    }
    p{
        font-size: 16px !important;
    }
    a{
        margin-bottom: 10px;
        text-align: center;
    }
}